* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.wrapper .success-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 4px #fff;
    width: 420px;
}

.wrapper .success-box .message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(0, 255, 0);
}

.wrapper .success-box .message i {
    font-size: 1.8rem;
}

.wrapper .success-box .message div {
    margin-left: 8px;
}

.wrapper .success-box .orther {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .orther a {
    display: inline-block;
    padding: 6px 24px;
    background-color: brown;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
}

.wrapper .orther a:hover {
    opacity: 0.8;
}