* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.wrapper .reset-password-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 4px #fff;
}

.wrapper .reset-password-box h3 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.wrapper .reset-password-box label {
    width: 100%;
    margin-top: 16px;
}

.wrapper label input {
    width: 100%;
    padding: 8px 14px;
}

.wrapper .reset-password-box .form-footer {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrapper .form-footer button {
    width: 100px;
    border: none;
    background-color: rgb(0, 110, 255);
    padding: 4px 8px;
    border-radius: 4px;
    color: #fff;
}

.wrapper .form-footer a {
    text-decoration: none;
    width: 100px;
    text-align: center;
    padding: 4px 8px;
    color: #000000;
    border: 1px solid #ccc;
    background-color: aliceblue;
    margin-left: 8px;
}

.wrapper .form-footer a:hover,
.wrapper .form-footer button:hover {
    opacity: 0.8;
}
