<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop thời trang nam - Sale đồng giá</title>
    <script th:src="@{/dist/node_modules/jquery/dist/jquery.min.js}"></script>
    <link rel="stylesheet"
        th:href="@{/dist/bootstrap-5.0.2-dist/css/bootstrap.min.css}"></link>
    <script src="https://kit.fontawesome.com/66c7a31f42.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/header-customer.css}">
	<link rel="stylesheet" th:href="@{/css/footer-customer.css}">
    <link rel="stylesheet" th:href="@{/css/flat-rate-sale.css}">
    <script th:src="@{/js/flat-rate-sale.js}"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="container-cst">
			<div class="first-nav">
				<ul class="first-nav__left">
					<li class="first-nav__left__item"><a href="/" class="active">TRANG CHỦ</a></li>
					<li class="first-nav__left__item category">
						<a href="/products?category=AO">SẢN PHẨM</a>
						<ul class="category__detail">
							<li class="category__detail__item"><a href="/products?category=AO">Áo</a></li>
							<li class="category__detail__item"><a href="/products?category=QUAN">Quần</a></li>
							<li class="category__detail__item"><a href="/products?category=PHUKIEN">Phụ kiện</a></li>
						</ul>
					</li>
					<li class="first-nav__left__item category">
						<a href="/sales?type=flashsale">SALE</a>
						<ul class="category__detail">
							<li class="category__detail__item"><a href="/sales?type=flashsales">Flash sale</a></li>
							<li class="category__detail__item"><a href="/sales?type=saleoffs">Sale off</a></li>
							<li class="category__detail__item"><a href="/sales?type=flatratesales">Sale đồng giá</a></li>
						</ul>
					</li>
					<li class="first-nav__left__item"><a href="/presentation">GIỚI THIỆU</a></li>
				</ul>

				<div class="first-nav-right">
					<form action="/products" method="get">
						<input type="text" name="product-detail-id" placeholder="Tìm sản phẩm theo tên hoặc mã sản phẩm...">
						<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
					<a th:if="${customer == null}" href="/login" class="login-btn">Đăng nhập</a>
					<div th:if="${customer != null}" class="user">
						<img th:src="${customer.getImage()}" width="48" height="48" alt="Hình ảnh">
						<span th:text="${customer.getFirstName() + ' ' + customer.getLastName()}"></span>
						<i class="fa-solid fa-caret-down"></i>
						<ul class="user-box">
							<li class="category__detail__item"><a href="">Hồ sơ</a></li>
							<li class="category__detail__item"><a href="">Đơn mua</a></li>
							<li class="category__detail__item"><a href="/logout">Đăng xuất</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="last-nav">
				<div class="logo">
					<a href="/"><img src="/logo/logo.png" alt="Logo" width="160"></a>
				</div>

				<ul class="last-nav__right">
					<li class="last-nav__right__item">
						<a href="/products?category=AO">
							<img src="/img/icons/shirt.png" alt="Áo" width="32">
							<p class="last-nav__right__item__title">ÁO</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="/products?category=QUAN">
							<img src="/img/icons/jean.png" alt="Quần" width="32">
							<p class="last-nav__right__item__title">QUẦN</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="/products?category=PHUKIEN">
							<img src="/img/icons/accessories.png" alt="Phụ kiện" width="32">
							<p class="last-nav__right__item__title">PHỤ KIỆN</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="/sales?type=flashsales">
							<img src="/img/icons/sale.png" alt="Sale" width="32">
							<p class="last-nav__right__item__title">SALE</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="/product-carts">
							<img src="/img/icons/shopping-cart.png" alt="Giỏ hàng" width="32">
							<p class="last-nav__right__item__title">GIỎ</p>
						</a>
					</li>
				</ul>
			</div>
		</nav>

        <div id="content" class="container-cst">
           <div class="heading">
                <div class="sale-name">
					Sale đồng giá
				</div>
           </div>
           <div class="flash-sale__container">
                <div class="flash-sale-nav">
                    <img src="/orthers/marc-sale-dong-gia.jpg" alt="">
                    <!-- <ul class="time-frame">
                        <th:block th:each="flatRateSale, iterStatus : ${flatRateSales}">
                            <li th:classappend="${iterStatus.index == 0 ? 'active-time' : ''}" class="time-frame-item">
                                <div th:text="${#dates.format(flatRateSale.getStartTime(), 'HH:mm')}" class="time-marker"></div>
                                <div class="flash-sale-status">Đang diễn ra</div>
                            </li>
                        </th:block>
                    </ul> -->
                </div>

                <div th:if="${!flatRateSales.isEmpty()}" class="product-section">
                    <div class="row product-list">
                        <th:block th:each="flatRateSaleDetail, iterStatus : ${flatRateSaleDetails}">
                            <div class="col-6 col-sm-4 col-md-3 product-item">
                                <img th:src="${mainHost + flatRateSaleDetail.getProductDetail().getImage()}" alt="" class="product-thumbnail">
                                <div class="product-body">
                                    <a th:href="${'/products/' + flatRateSaleDetail.getProductDetail().getProduct().getProductCode()}" style="text-decoration: none;color: inherit;"><h3 th:text="${flatRateSaleDetail.getProductDetail().getProduct().getProductName()}" class="product-body__heading"></h3></a>
                                    <div class="star-rating">
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 20 >= 0}" class="star" style="background-image: linear-gradient(to right, #ffe600e5 100%, transparent 0%);"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 20 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] > 0}" class="star" th:attr="style='background-image: linear-gradient(to right, #ffe600e5 ' + ratingOfProductDetailInFlatRateSale[iterStatus.index] + '%, transparent 0%);'"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 20 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] <= 0}" class="star"></div>
        
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 40 >= 0}" class="star" style="background-image: linear-gradient(to right, #ffe600e5 100%, transparent 0%);"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 40 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 20 > 0}" class="star" th:attr="style='background-image: linear-gradient(to right, #ffe600e5 ' + ratingOfProductDetailInFlatRateSale[iterStatus.index] + '%, transparent 0%);'"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 40 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 20 <= 0}" class="star"></div>
        
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 60 >= 0}" class="star" style="background-image: linear-gradient(to right, #ffe600e5 100%, transparent 0%);"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 60 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 60 > 0}" class="star" th:attr="style='background-image: linear-gradient(to right, #ffe600e5 ' + ratingOfProductDetailInFlatRateSale[iterStatus.index] + '%, transparent 0%);'"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 60 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 60 <= 0}" class="star"></div>
        
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 80 >= 0}" class="star" style="background-image: linear-gradient(to right, #ffe600e5 100%, transparent 0%);"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 80 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 80 > 0}" class="star" th:attr="style='background-image: linear-gradient(to right, #ffe600e5 ' + ratingOfProductDetailInFlatRateSale[iterStatus.index] + '%, transparent 0%);'"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 80 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 80 <= 0}" class="star"></div>
        
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 100 >= 0}" class="star" style="background-image: linear-gradient(to right, #ffe600e5 100%, transparent 0%);"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 100 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 100 > 0}" class="star" th:attr="style='background-image: linear-gradient(to right, #ffe600e5 ' + ratingOfProductDetailInFlatRateSale[iterStatus.index] + '%, transparent 0%);'"></div>
                                        <div th:if="${ratingOfProductDetailInFlatRateSale[iterStatus.index] - 100 < 0 && ratingOfProductDetailInFlatRateSale[iterStatus.index] - 100 <= 0}" class="star"></div>
                                    </div>
                                    <div class="price">
                                        <span th:text="${'₫ ' + #numbers.formatDecimal(oldPriceOfProductDetailInFlatRateSale[iterStatus.index], 1, 'COMMA', 0,'POINT')}" class="old-price"></span>
                                        <span style="margin-left: 4px;" th:text="${'₫ ' + #numbers.formatDecimal(newPriceOfProductDetailInFlatRateSale[iterStatus.index], 1, 'COMMA', 0,'POINT')}" class="new-price"></span>
                                    </div>
                                    <a th:href="${'/product-carts?add=' + flatRateSaleDetail.getProductDetail().getProductDetailId()}" style="text-decoration: none;color: inherit;"><div class="add-product-btn"><i class="fa-solid fa-cart-shopping"></i></div></a>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
           </div>
        </div>

        <div id="footer" class="container-cst">
			<div class="row">
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>THÀNH VIÊN PHÁT TRIỂN DỰ ÁN</h4>
					<ul class="footer-group__content">
						<li class="footer-group__item">Nguyễn Minh Đạt</li>
						<li class="footer-group__item">Đào Quốc Luận</li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>LIÊN HỆ</h4>
					<ul class="footer-group__content">
						<li class="footer-group__item">SĐT: <a href="tel:+0378450500">0378450500</a></li>
						<li class="footer-group__item">Email: <a href="mailto:minhdat450500@gmail.com">minhdat450500@gmail.com</a></li>
						<li class="footer-group__item">Facebook: <a href="https://www.facebook.com/profile.php?id=100081014870997" target="_blank">@fb/nguyenminhdat</a></li>
						<li class="footer-group__item">Địa chỉ: Phường Linh Trung, Tp. Thủ Đức, Tp. Hồ Chí Minh</li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>THANH TOÁN</h4>
					<ul class="footer-group__content pay">
						<li class="footer-group__item"><img src="../static/img/bank-brand/vietcombank.webp" alt="Vietcombank" width="22"></li>
						<li class="footer-group__item"><img src="../static/img/bank-brand/agribank.webp" alt="Agribank" width="22"></li>
						<li class="footer-group__item"><img src="../static/img/bank-brand/paypal.png" alt="Paypal" width="22"></li>
						<li class="footer-group__item"><img src="../static/img/bank-brand/momo.png" alt="Momo" width="22"></li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>ĐƠN VỊ VẬN CHUYỂN</h4>
					<ul class="footer-group__content transfer-unit">
						<li class="footer-group__item"><img src="../static/img/ship-brand/grabexpress.png" alt="Vietcombank" width="52" height="22"></li>
						<li class="footer-group__item"><img src="../static/img/ship-brand/vietnampost.png" alt="Vietcombank" width="52" height="22"></li>
						<li class="footer-group__item"><img src="../static/img/ship-brand/ghn.jfif" alt="Vietcombank" width="52" height="22"></li>
						<li class="footer-group__item"><img src="../static/img/ship-brand/be.png" alt="Vietcombank" width="52" height="22"></li>
						<li class="footer-group__item"><img src="../static/img/ship-brand/viettelpost.png" alt="Vietcombank" width="52" height="22"></li>
					</ul>
				</div>
			</div>
			<div class="copyright">
				&copy;Copyright 2023 08 Group
			</div>
		</div>
    </div>
</body>
</html>