<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/dist/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
	<script th:src="@{/dist/node_modules/jquery/dist/jquery.min.js}"></script>
	<script src="https://kit.fontawesome.com/66c7a31f42.js" crossorigin="anonymous"></script>
    <link th:rel="stylesheet" th:href="@{/css/reset-password.css}">
</head>
<body>
    <div class="wrapper">
        <div class="reset-password-box">
            <h3>Nhập mật khẩu mới</h3>
            <form action="/reset-password" method="post">
                <input type="hidden" name="save">
                <input type="hidden" name="username" th:value="${username}">
                <input type="hidden" name="uuid" th:value="${uuid}">
                <label for="new-password">
                    <input type="text" name="password" id="new-password" placeholder="Mật khẩu mới...">
                </label>
                <label for="confirm-new-password">
                    <input type="text" name="confirm-password" id="confirm-new-password" placeholder="Nhập lại mật khẩu mới...">
                    <div th:if="${hasError != null && hasError}" style="color: red;margin-top: 4px;">(*) Vui lòng nhập khớp với mật khẩu phía trên</div>
                </label>
                <div class="form-footer">
                    <button>Xác nhận</button>
                    <a href="/">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>