<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./dist/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet"
        href="/dist/bootstrap-5.0.2-dist/css/bootstrap.min.css"></link>
    <script src="https://kit.fontawesome.com/66c7a31f42.js"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="/css/login.css">
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="container-cst">
			<div class="first-nav">
				<ul class="first-nav__left">
					<li class="first-nav__left__item"><a href="" class="active">TRANG CHỦ</a></li>
					<li class="first-nav__left__item category">
						<a href="">SẢN PHẨM</a>
						<ul class="category__detail">
							<li class="category__detail__item"><a href="">Áo</a></li>
							<li class="category__detail__item"><a href="">Quần</a></li>
							<li class="category__detail__item"><a href="">Phụ kiện</a></li>
						</ul>
					</li>
					<li class="first-nav__left__item category">
						<a href="">SALE</a>
						<ul class="category__detail">
							<li class="category__detail__item"><a href="">Flash sale</a></li>
							<li class="category__detail__item"><a href="">Sale off</a></li>
							<li class="category__detail__item"><a href="">Sale đồng giá</a></li>
						</ul>
					</li>
					<li class="first-nav__left__item"><a href="">GIỚI THIỆU</a></li>
				</ul>

				<div class="first-nav-right">
					<form action="" method="get">
						<input type="text" name="" id="" placeholder="Tìm sản phẩm theo tên hoặc mã sản phẩm...">
						<button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
					<a href="/login" class="login-btn">Đăng nhập</a>
					<div class="user">
						<img src="" width="48" height="48" alt="Hình ảnh">
						<span>Nguyễn Minh Đạt</span>
						<i class="fa-solid fa-caret-down"></i>
						<ul class="user-box">
							<li class="category__detail__item"><a href="">Hồ sơ</a></li>
							<li class="category__detail__item"><a href="">Đơn mua</a></li>
							<li class="category__detail__item"><a href="">Đăng xuất</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="last-nav">
				<div class="logo">
					<img src="../static/logo/logo.jpg" alt="Logo" width="160">
				</div>

				<ul class="last-nav__right">
					<li class="last-nav__right__item">
						<a href="">
							<img src="../static/img/icons/shirt.png" alt="Áo" width="32">
							<p class="last-nav__right__item__title">ÁO</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="">
							<img src="../static/img/icons/jean.png" alt="Quần" width="32">
							<p class="last-nav__right__item__title">QUẦN</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="">
							<img src="../static/img/icons/accessories.png" alt="Phụ kiện" width="32">
							<p class="last-nav__right__item__title">PHỤ KIỆN</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="">
							<img src="../static/img/icons/sale.png" alt="Sale" width="32">
							<p class="last-nav__right__item__title">SALE</p>
						</a>
					</li>
					<li class="last-nav__right__item">
						<a href="">
							<img src="../static/img/icons/shopping-cart.png" alt="Giỏ hàng" width="32">
							<p class="last-nav__right__item__title">GIỎ</p>
						</a>
					</li>
				</ul>
			</div>
		</nav>


        
    </div>
</body>
</html>