USE [master]
GO
/****** Object:  Database [SHOPTHOITRANGNAM]    Script Date: 5/6/2023 9:26:53 PM ******/
CREATE DATABASE [SHOPTHOITRANGNAM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOPTHOITRANGNAM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SHOPTHOITRANGNAM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SHOPTHOITRANGNAM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SHOPTHOITRANGNAM_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPTHOITRANGNAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPTHOITRANGNAM]
GO
/****** Object:  User [nhanvienthungan_user]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE USER [nhanvienthungan_user] FOR LOGIN [nhanvienthungan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [nhanvienquanlykho_user]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE USER [nhanvienquanlykho_user] FOR LOGIN [nhanvienquanlykho] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [khachhang_user]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE USER [khachhang_user] FOR LOGIN [khachhang] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [chushop_user]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE USER [chushop_user] FOR LOGIN [chushop] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [NHANVIENTHUNGAN]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE ROLE [NHANVIENTHUNGAN]
GO
/****** Object:  DatabaseRole [NHANVIENQUANLYKHO]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE ROLE [NHANVIENQUANLYKHO]
GO
/****** Object:  DatabaseRole [KHACHHANG]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE ROLE [KHACHHANG]
GO
/****** Object:  DatabaseRole [CHUSHOP]    Script Date: 5/6/2023 9:26:54 PM ******/
CREATE ROLE [CHUSHOP]
GO
ALTER ROLE [NHANVIENTHUNGAN] ADD MEMBER [nhanvienthungan_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [nhanvienthungan_user]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [nhanvienthungan_user]
GO
ALTER ROLE [NHANVIENQUANLYKHO] ADD MEMBER [nhanvienquanlykho_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [nhanvienquanlykho_user]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [nhanvienquanlykho_user]
GO
ALTER ROLE [KHACHHANG] ADD MEMBER [khachhang_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [khachhang_user]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [khachhang_user]
GO
ALTER ROLE [CHUSHOP] ADD MEMBER [chushop_user]
GO
ALTER ROLE [db_owner] ADD MEMBER [chushop_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [chushop_user]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [chushop_user]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NHANVIENTHUNGAN]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [NHANVIENTHUNGAN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NHANVIENQUANLYKHO]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [NHANVIENQUANLYKHO]
GO
ALTER ROLE [db_datareader] ADD MEMBER [KHACHHANG]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [KHACHHANG]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHUSHOP]
GO
ALTER ROLE [db_datareader] ADD MEMBER [CHUSHOP]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [CHUSHOP]
GO
/****** Object:  UserDefinedFunction [dbo].[CUSTOMER_CODE]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CUSTOMER_CODE] ()
RETURNS VARCHAR(50) AS
BEGIN
	DECLARE @RESULT VARCHAR(50)
	DECLARE @MAX VARCHAR(50) = (select MAX(MAKH) FROM KHACHHANG)
	IF ISNULL(@MAX, 0) = 0
		SET @RESULT = 'KH000001'
	ELSE
		SET @RESULT = 'KH' + RIGHT('000000' + (CAST(RIGHT(@MAX, 6) AS INT) + 1), 6)
	RETURN @RESULT
END
GO
/****** Object:  Table [dbo].[CAPNHATDIACHI]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAPNHATDIACHI](
	[ID_CNDC] [int] IDENTITY(1,1) NOT NULL,
	[ID_DIACHI] [int] NOT NULL,
	[THOIDIEMCAPNHAT] [datetime] NOT NULL,
	[HOTEN] [nvarchar](150) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[MAPHUONG_XA] [varchar](20) NOT NULL,
	[DIACHICUTHE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID_DIACHI] ASC,
	[THOIDIEMCAPNHAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_IDCTCNDC] UNIQUE NONCLUSTERED 
(
	[ID_CNDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETCUNGCAP]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETCUNGCAP](
	[IDCTCC] [int] NOT NULL,
	[MANCC] [varchar](20) NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[THOIDIEMAPDUNG] [datetime] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_CHITIETCUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC,
	[IDCTSP] ASC,
	[THOIDIEMAPDUNG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CHITIETCUNGCAP] UNIQUE NONCLUSTERED 
(
	[IDCTCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADONHANG] [varchar](50) NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[ID_DANHGIA] [bigint] NULL,
 CONSTRAINT [PK_CHITIETDONHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETGIOHANG]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETGIOHANG](
	[MAKH] [varchar](50) NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETGIOHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC,
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[SOHD] [bigint] NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETKHUYENMAI]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETKHUYENMAI](
	[ID_KM] [int] NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[PHANTRAMGIAMGIA] [float] NOT NULL,
 CONSTRAINT [PK_CHITIETKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[ID_KM] ASC,
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUDAT]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUDAT](
	[MAPHIEUDAT] [varchar](50) NOT NULL,
	[IDCTCC] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_MAPHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC,
	[IDCTCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPHIEUNHAP] [varchar](50) NOT NULL,
	[IDCTCC] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC,
	[IDCTCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHIEUXUAT]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUXUAT](
	[MAPHIEUXUAT] [varchar](50) NOT NULL,
	[IDCTSP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC,
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[IDCTSP] [int] NOT NULL,
	[MASP] [varchar](50) NOT NULL,
	[MAKICHTHUOC] [varchar](10) NOT NULL,
	[MAMAUSAC] [varchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC,
	[MAKICHTHUOC] ASC,
	[MAMAUSAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CHITIETSANPHAM] UNIQUE NONCLUSTERED 
(
	[IDCTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTRANGTHAIDONHANG]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTRANGTHAIDONHANG](
	[MADONHANG] [varchar](50) NOT NULL,
	[THOIDIEMCHUYENTIEP] [datetime] NOT NULL,
	[MAVANDON] [varchar](50) NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[MATRANGTHAI] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETTRANGTHAIDONHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC,
	[THOIDIEMCHUYENTIEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [varchar](10) NOT NULL,
	[TENCHUCVU] [nvarchar](200) NOT NULL,
	[MOTA] [ntext] NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIASANPHAM]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIASANPHAM](
	[ID_DANHGIA] [bigint] NOT NULL,
	[THOIDIEMTAO] [datetime] NOT NULL,
	[SOSAO] [int] NOT NULL,
	[NOIDUNG] [ntext] NULL,
 CONSTRAINT [PK_DANHGIASANPHAM] PRIMARY KEY CLUSTERED 
(
	[ID_DANHGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIACHI]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIACHI](
	[ID_DIACHI] [int] NOT NULL,
	[MAKH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DIACHI2_1] PRIMARY KEY CLUSTERED 
(
	[ID_DIACHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADONHANG] [varchar](50) NOT NULL,
	[THOIDIEMLAP] [datetime] NOT NULL,
	[MATRANGTHAI] [varchar](10) NOT NULL,
	[MADVVC] [varchar](50) NOT NULL,
	[SOHD] [bigint] NOT NULL,
	[ID_CNDC] [int] NOT NULL,
	[MAKH] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DONHANG2] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONVIVANCHUYEN]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVIVANCHUYEN](
	[MADVVC] [varchar](50) NOT NULL,
	[TENDVVC] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DONVIVANCHUYEN] PRIMARY KEY CLUSTERED 
(
	[MADVVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIASANPHAMBANRA]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIASANPHAMBANRA](
	[ID] [bigint] NOT NULL,
	[GIA] [money] NOT NULL,
	[THOIDIEMAPDUNG] [datetime] NOT NULL,
	[IDCTSP] [int] NOT NULL,
 CONSTRAINT [PK_GIASANPHAMBANRA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [bigint] NOT NULL,
	[THOIDIEMLAP] [datetime] NOT NULL,
	[MANV] [varchar](20) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [varchar](50) NOT NULL,
	[HO] [nvarchar](100) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[EMAIL] [varchar](200) NOT NULL,
	[TENDANGNHAP] [varchar](100) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [varchar](20) NOT NULL,
	[TENKHO] [nvarchar](200) NOT NULL,
	[DIACHI] [ntext] NOT NULL,
	[MANVQL] [varchar](20) NOT NULL,
 CONSTRAINT [PK_KHO1] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[ID_KM] [int] NOT NULL,
	[TENKHUYENMAI] [nvarchar](200) NOT NULL,
	[THOIDIEMBATDAT] [datetime] NOT NULL,
	[THOIDIEMKETTHUC] [datetime] NOT NULL,
	[MALOAIKM] [varchar](10) NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[ID_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KICHTHUOC]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KICHTHUOC](
	[MAKICHTHUOC] [varchar](10) NOT NULL,
	[TENKICHTHUOC] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_KICHTHUOC] PRIMARY KEY CLUSTERED 
(
	[MAKICHTHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIKHUYENMAI]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHUYENMAI](
	[MALOAIKM] [varchar](10) NOT NULL,
	[TENLOAIKM] [nvarchar](200) NOT NULL,
	[MOTA] [ntext] NULL,
 CONSTRAINT [PK_LOAIKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MALOAIKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISP] [varchar](20) NOT NULL,
	[TENLOAISP] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITAIKHOAN]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITAIKHOAN](
	[MALOAITK] [varchar](20) NOT NULL,
	[TENLOAITK] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_LOAITAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[MALOAITK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAUSAC]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUSAC](
	[MAMAUSAC] [varchar](10) NOT NULL,
	[TENMAUSAC] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_MAUSAC] PRIMARY KEY CLUSTERED 
(
	[MAMAUSAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](20) NOT NULL,
	[TENNCC] [nvarchar](200) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[EMAIL] [varchar](200) NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HO] [nvarchar](100) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[EMAIL] [varchar](200) NOT NULL,
	[NGAYVAOLAM] [date] NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
	[MACHUCVU] [varchar](10) NOT NULL,
	[TENDANGNHAP] [varchar](100) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDAT]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDAT](
	[MAPHIEUDAT] [varchar](50) NOT NULL,
	[TENPHIEUDAT] [nvarchar](200) NOT NULL,
	[MOTA] [ntext] NULL,
	[THOIDIEMLAP] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUDAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUDAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [varchar](50) NOT NULL,
	[TENPHIEUNHAP] [nvarchar](200) NOT NULL,
	[MOTA] [ntext] NULL,
	[THOIDIEMLAP] [datetime] NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[MAKHO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEUXUAT] [varchar](50) NOT NULL,
	[TENPHIEUXUAT] [nvarchar](200) NOT NULL,
	[MOTA] [ntext] NULL,
	[THOIDIEMLAP] [datetime] NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[MAKHO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHUONG_XA]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHUONG_XA](
	[MAPHUONG_XA] [varchar](20) NOT NULL,
	[TENPHUONG_XA] [nvarchar](100) NOT NULL,
	[MAQUAN_HUYEN] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PHUONG_XA] PRIMARY KEY CLUSTERED 
(
	[MAPHUONG_XA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_HUYEN]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_HUYEN](
	[MAQUAN_HUYEN] [varchar](20) NOT NULL,
	[TENQUAN_HUYEN] [nvarchar](100) NOT NULL,
	[MATINH_TP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_QUAN_HUYEN] PRIMARY KEY CLUSTERED 
(
	[MAQUAN_HUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](50) NOT NULL,
	[TENSANPHAM] [nvarchar](200) NOT NULL,
	[MOTA] [ntext] NULL,
	[MALOAISP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](100) NOT NULL,
	[MATKHAU] [varchar](200) NOT NULL,
	[SALT] [nvarchar](100) NOT NULL,
	[THOIDIEMTAO] [datetime] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[MALOAITK] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TAIKHOAN_] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH_TP]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH_TP](
	[MATINH_TP] [varchar](20) NOT NULL,
	[TENTINH_TP] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TINH_TP] PRIMARY KEY CLUSTERED 
(
	[MATINH_TP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDONHANG]    Script Date: 5/6/2023 9:26:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDONHANG](
	[MATRANGTHAI] [varchar](10) NOT NULL,
	[TENTRANGTHAI] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TRANGTHAIDONHANG] PRIMARY KEY CLUSTERED 
(
	[MATRANGTHAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_MAKH]  DEFAULT ([dbo].[CUSTOMER_CODE]()) FOR [MAKH]
GO
ALTER TABLE [dbo].[CAPNHATDIACHI]  WITH CHECK ADD  CONSTRAINT [FK_CAPNHATDIACHI_DIACHI] FOREIGN KEY([ID_DIACHI])
REFERENCES [dbo].[DIACHI] ([ID_DIACHI])
GO
ALTER TABLE [dbo].[CAPNHATDIACHI] CHECK CONSTRAINT [FK_CAPNHATDIACHI_DIACHI]
GO
ALTER TABLE [dbo].[CAPNHATDIACHI]  WITH CHECK ADD  CONSTRAINT [FK_CAPNHATDIACHI_PHUONG_XA] FOREIGN KEY([MAPHUONG_XA])
REFERENCES [dbo].[PHUONG_XA] ([MAPHUONG_XA])
GO
ALTER TABLE [dbo].[CAPNHATDIACHI] CHECK CONSTRAINT [FK_CAPNHATDIACHI_PHUONG_XA]
GO
ALTER TABLE [dbo].[CHITIETCUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCUNGCAP_CHITIETSANPHAM] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([IDCTSP])
GO
ALTER TABLE [dbo].[CHITIETCUNGCAP] CHECK CONSTRAINT [FK_CHITIETCUNGCAP_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETCUNGCAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETCUNGCAP_NHACUNGCAP] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[CHITIETCUNGCAP] CHECK CONSTRAINT [FK_CHITIETCUNGCAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_CHITIETSANPHAM] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([IDCTSP])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_DANHGIASANPHAM] FOREIGN KEY([ID_DANHGIA])
REFERENCES [dbo].[DANHGIASANPHAM] ([ID_DANHGIA])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DANHGIASANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_DONHANG] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETGIOHANG_CHITIETSANPHAM] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([IDCTSP])
GO
ALTER TABLE [dbo].[CHITIETGIOHANG] CHECK CONSTRAINT [FK_CHITIETGIOHANG_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETGIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETGIOHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETGIOHANG] CHECK CONSTRAINT [FK_CHITIETGIOHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_CHITIETSANPHAM] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([IDCTSP])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHUYENMAI_CHITIETSANPHAM] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([IDCTSP])
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETKHUYENMAI_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETKHUYENMAI_KHUYENMAI] FOREIGN KEY([ID_KM])
REFERENCES [dbo].[KHUYENMAI] ([ID_KM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETKHUYENMAI] CHECK CONSTRAINT [FK_CHITIETKHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUDAT_CHITIETCUNGCAP] FOREIGN KEY([IDCTCC])
REFERENCES [dbo].[CHITIETCUNGCAP] ([IDCTCC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CHITIETPHIEUDAT_CHITIETCUNGCAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUDAT_PHIEUDAT] FOREIGN KEY([MAPHIEUDAT])
REFERENCES [dbo].[PHIEUDAT] ([MAPHIEUDAT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUDAT] CHECK CONSTRAINT [FK_CHITIETPHIEUDAT_PHIEUDAT]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_CHITIETCUNGCAP] FOREIGN KEY([IDCTCC])
REFERENCES [dbo].[CHITIETCUNGCAP] ([IDCTCC])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_CHITIETCUNGCAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MAPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([MAPHIEUNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_CHITIETSANPHAM] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([IDCTSP])
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUXUAT_PHIEUXUAT] FOREIGN KEY([MAPHIEUXUAT])
REFERENCES [dbo].[PHIEUXUAT] ([MAPHIEUXUAT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETPHIEUXUAT] CHECK CONSTRAINT [FK_CHITIETPHIEUXUAT_PHIEUXUAT]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSANPHAM_KICHTHUOC] FOREIGN KEY([MAKICHTHUOC])
REFERENCES [dbo].[KICHTHUOC] ([MAKICHTHUOC])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_CHITIETSANPHAM_KICHTHUOC]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSANPHAM_MAUSAC] FOREIGN KEY([MAMAUSAC])
REFERENCES [dbo].[MAUSAC] ([MAMAUSAC])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_CHITIETSANPHAM_MAUSAC]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSANPHAM_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_CHITIETSANPHAM_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETTRANGTHAIDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTRANGTHAIDONHANG_DONHANG] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETTRANGTHAIDONHANG] CHECK CONSTRAINT [FK_CHITIETTRANGTHAIDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[CHITIETTRANGTHAIDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTRANGTHAIDONHANG_TRANGTHAIDONHANG] FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAIDONHANG] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[CHITIETTRANGTHAIDONHANG] CHECK CONSTRAINT [FK_CHITIETTRANGTHAIDONHANG_TRANGTHAIDONHANG]
GO
ALTER TABLE [dbo].[DIACHI]  WITH CHECK ADD  CONSTRAINT [FK_DIACHI_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DIACHI] CHECK CONSTRAINT [FK_DIACHI_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_CAPNHATDIACHI] FOREIGN KEY([ID_CNDC])
REFERENCES [dbo].[CAPNHATDIACHI] ([ID_CNDC])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_CAPNHATDIACHI]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_DONVIVANCHUYEN] FOREIGN KEY([MADVVC])
REFERENCES [dbo].[DONVIVANCHUYEN] ([MADVVC])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_DONVIVANCHUYEN]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_HOADON] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_HOADON]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_TRANGTHAIDONHANG] FOREIGN KEY([MATRANGTHAI])
REFERENCES [dbo].[TRANGTHAIDONHANG] ([MATRANGTHAI])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_TRANGTHAIDONHANG]
GO
ALTER TABLE [dbo].[GIASANPHAMBANRA]  WITH CHECK ADD  CONSTRAINT [FK_GIASANPHAMBANRA_CHITIETSANPHAM] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[CHITIETSANPHAM] ([IDCTSP])
GO
ALTER TABLE [dbo].[GIASANPHAMBANRA] CHECK CONSTRAINT [FK_GIASANPHAMBANRA_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_NHANVIEN] FOREIGN KEY([MANVQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_KHO_NHANVIEN]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_KHUYENMAI_LOAIKHUYENMAI] FOREIGN KEY([MALOAIKM])
REFERENCES [dbo].[LOAIKHUYENMAI] ([MALOAIKM])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [FK_KHUYENMAI_LOAIKHUYENMAI]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_KHO]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_KHO]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[PHUONG_XA]  WITH CHECK ADD  CONSTRAINT [FK_PHUONG_XA_QUAN_HUYEN] FOREIGN KEY([MAQUAN_HUYEN])
REFERENCES [dbo].[QUAN_HUYEN] ([MAQUAN_HUYEN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHUONG_XA] CHECK CONSTRAINT [FK_PHUONG_XA_QUAN_HUYEN]
GO
ALTER TABLE [dbo].[QUAN_HUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUAN_HUYEN_TINH_TP] FOREIGN KEY([MATINH_TP])
REFERENCES [dbo].[TINH_TP] ([MATINH_TP])
GO
ALTER TABLE [dbo].[QUAN_HUYEN] CHECK CONSTRAINT [FK_QUAN_HUYEN_TINH_TP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_LOAITAIKHOAN] FOREIGN KEY([MALOAITK])
REFERENCES [dbo].[LOAITAIKHOAN] ([MALOAITK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_LOAITAIKHOAN]
GO
USE [master]
GO
