<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shop thời trang nam - Chi tiết đơn hàng</title>
<script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
<link rel="stylesheet"
	th:href="@{/dist/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
<script th:src="@{/dist/node_modules/jquery/dist/jquery.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/fonts/fontawesome-free-6.4.0-web/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/owner-order-detail-manage.css}">
<script th:src="@{/js/owner-order-detail-manage.js}"></script>
</head>
<body>
	<div class="wrapper">
		<input type="hidden" name="order-code" id="order-code"
			th:value="${orderCode}">
		<div id="header">
			<nav>
				<div class="total-revenue-card">
					<span class="rotate-1"></span> <span class="rotate-2"></span> <span
						class="rotate-3"></span>
					<div class="total-revenue-card__content">
						<span class="total-revenue-card__content_number">10999</span> <span
							class="total-revenue-card__content_unit">USD</span>
					</div>
				</div>
				<ul class="category">
					<li class="category-item"><a class="active" href=""><i
							class="fa-solid fa-note-sticky"></i>Quản lý đơn đặt hàng</a></li>
					<li class="category-item">
						<div class="product-manage-btn">
							<span><i class="fa-sharp fa-solid fa-box"></i>Quản lý sản
								phẩm</span> <span><i class="fa-solid fa-angle-right"></i></span>
						</div>
						<ul class="category-item__children" style="display: none;">
							<li class="category-item__children__item"><a class="active"
								href="/owner/products"> <span><i
										class="fa-brands fa-product-hunt"></i></span> Sản phẩm
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/sizes"> <span><i
										class="fa-solid fa-sitemap"></i></span> Kích thước sản phẩm
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/colors"> <span><i
										class="fa-solid fa-droplet"></i></span> Màu sắc sắc sản phẩm
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/product-categories"> <span><i
										class="fa-solid fa-book-open"></i></span> Loại sản phẩm
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/product-details"> <span><i
										class="fa-solid fa-asterisk"></i></span> Chi tiết sản phẩm
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/selling-prices"> <span><i
										class="fa-solid fa-money-bill-wave"></i></span> Cập nhật giá sản phẩm
							</a></li>
						</ul>
					</li>
					<li class="category-item">
						<div class="product-manage-btn">
							<span><i class="fa-solid fa-user-group"></i>Quản lý nhân
								viên</span> <span><i class="fa-solid fa-angle-right"></i></span>
						</div>
						<ul class="category-item__children" style="display: none;">
							<li class="category-item__children__item"><a
								href="/owner/employees"> <span><i
										class="fa-solid fa-people-group"></i></span> Nhân viên
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/positions"> <span><i
										class="fa-solid fa-hat-cowboy"></i></span> Chức vụ
							</a></li>
						</ul>
					</li>
					<li class="category-item"><a href="/owner/suppliers"><i
							class="fa-solid fa-store"></i> Nhà cung cấp</a></li>
					<li class="category-item"><a href="/owner/accounts"><i
							class="fa-solid fa-key"></i>Quản lý tài khoản</a></li>
					<li class="category-item">
						<div class="product-manage-btn">
							<span><i class="fa-solid fa-tags"></i>Quản lý khuyến mãi</span> <span><i
								class="fa-solid fa-angle-right"></i></span>
						</div>
						<ul class="category-item__children" style="display: none;">
							<li class="category-item__children__item"><a
								href="/owner/flash-sales"> <span><i
										class="fa-solid fa-tag"></i></span> Flash sale
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/sale-offs"> <span><i
										class="fa-solid fa-tag"></i></span> Sale off
							</a></li>
							<li class="category-item__children__item"><a
								href="/owner/flat-rate-sales"> <span><i
										class="fa-solid fa-tag"></i></span> Sale đồng giá
							</a></li>
						</ul>
					</li>
					<li class="category-item"><a href="/logout"><i
							class="fa-solid fa-right-from-bracket"></i>Đăng xuất</a></li>
				</ul>
			</nav>
		</div>

		<div id="content">
			<div class="option-funtion">
				<div class="main-option-function">
					<div class="direction">
						<span class="forward-btn" onclick="history.back()"><i
							class="fa-solid fa-arrow-left"></i></span> <span class="back-btn"
							onclick="history.forward()"><i
							class="fa-solid fa-arrow-right"></i></span>
					</div>
					<form action="/owner/order-details" id="product-search-form">
						<input type="hidden" name="order-code" th:value="${orderCode}">
						<label for="product-search"> <i
							class="fa-solid fa-magnifying-glass"></i> <input th:name="search"
							type="search" th:value="${search}" id="product-search"
							placeholder="Nhập id hoặc mã sản phẩm muốn tìm kiếm...">
						</label>
					</form>
				</div>
				<div class="orther-option-function">
					<a id="export" class="export">
						<div class="orther-option-function-btn">
							<i class="fa-solid fa-file-export"></i> Xuất file
						</div>
					</a>
				</div>
			</div>

			<div class="product-container">
				<div class="product-header">
					<h3 th:if="${isSearched == null}">Chi tiết đơn hàng</h3>
					<h3
						th:if="${isSearched != null && isSearched && !orderDetails.isEmpty()}"
						th:text="${'Kết quả tìm kiếm chi tiết đơn hàng với từ khóa ' + '&quot;' + search + '&quot;'}"></h3>
					<h3
						th:if="${isSearched != null && isSearched && orderDetails.isEmpty()}"
						th:text="${'Không tìm thấy chi tiết đơn hàng nào với từ khóa ' + '&quot;' + search + '&quot;'}"></h3>
				</div>
				<table th:unless="${orderDetails.isEmpty()}" class="product-table">
					<thead>
						<th>Mã đơn hàng</th>
						<th>IDCTSP</th>
						<th>Tên sản phẩm</th>
						<th>Hình ảnh</th>
						<!-- <th>Đơn giá</th> -->
						<th>Số lượng</th>
						<!-- <th>Thành tiền</th> -->
					</thead>
					<tbody
						th:each="i : ${#numbers.sequence(pageNumber * 20, ((pageNumber + 1) * 20) <= orderDetails.size() ? (pageNumber + 1) * 20 - 1 : orderDetails.size() - 1)}">
						<tr>
							<td
								th:text="${orderDetails[i].getOrderDetailPK().getOrderCode()}"></td>
							<td
								th:text="${orderDetails[i].getOrderDetailPK().getProductDetailId()}"></td>
							<td
								th:text="${orderDetails[i].getProductDetail().getProduct().getProductName()}"></td>
							<td><img
								th:src="${orderDetails[i].getProductDetail().getImage()}"
								alt="Shop thời trang nam"></td>
							<!-- <td th:text="${'&#x20AB; ' + #numbers.formatDecimal(sellingPrices[i].getPrice(), 1, 'COMMA', 0,'POINT')}"></td> -->
							<td th:text="${orderDetails[i].getQuantity()}"></td>
							<!-- <td th:text="${'&#x20AB; ' + #numbers.formatDecimal(totalPrices[i], 1, 'COMMA', 0,'POINT')}"></td> -->
						</tr>
					</tbody>
				</table>
				<div th:with="orderDetailsSize=${orderDetails.size()}"
					class="product-footer">
					<th:block
						th:with="pageCount=${orderDetailsSize % 20 == 0 ? orderDetailsSize / 20 : orderDetailsSize / 20 + 1}">
						<div class="total-product">
							<span>Tổng số sản phẩm trong đơn hàng:</span> <span
								th:text="${orderDetailsSize}" class="total-product-number"></span>
						</div>
						<th:block th:if="${orderDetailsSize > 20}">
							<ul id="pagination" class="pagination"
								th:attr="current-page-number=${pageNumber+1}, page-count=${pageCount}">
								<li id="pagination-previous" th:if="${orderDetailsSize <= 20}"
									class="page-number-item page-active"><a
									th:href="@{/owner/order-details(order-code=${orderCode}, page-number=1)}">1</a>
								</li>
								<li th:if="${orderDetailsSize > 20}" id="pagination-previous"
									class="page-number-item"><a><i
										class="fa-solid fa-chevron-left"></i></a></li>
								<a th:if="${pageNumber+1 >= 3}" th:text="..."></a>
								<th:block
									th:each="i : ${#numbers.sequence((pageNumber+1) % 2 != 0 ? (pageCount == pageNumber+1 ? pageCount-2 : pageNumber+1) : pageNumber, (pageNumber+1) % 2 != 0 ? (pageCount == pageNumber+1 ? pageCount : pageNumber+3) : pageNumber+2)}">
									<li th:if="${i <= pageCount}"
										th:classappend="${i == pageNumber+1 ? 'page-active' : ''}"
										class="page-number-item"><a th:text="${i}"
										th:href="@{/owner/order-details(order-code=${orderCode}, page-number=${i})}"></a>
									</li>
								</th:block>
								<a
									th:if="${((pageCount - (pageNumber + 1)) > 3) || (pageCount % 2 == 0 && pageCount > 3 && (pageCount - (pageNumber + 1)) <= 2)}"
									th:text="..."></a>
								<li th:if="${orderDetailsSize > 20}" id="pagination-next"
									class="page-number-item"><a><i
										class="fa-solid fa-chevron-right"></i></a></li>
							</ul>
						</th:block>
						<div class="goto-page-number">
							<div id="goto-page-number-btn">
								Đi tới trang khác <i class="fa-solid fa-arrow-right"></i>
							</div>
							<form id="goto-page-form" class="goto-page-box">
								<h5>Chuyển trang</h5>
								<div>
									<input name="page-number" type="number" min="1"
										th:max="${pageCount}" placeholder="Nhập số trang..." required>
									<input type="submit" value="Đến">
								</div>
								<div>
									<button type="button" id="first-page-btn">Đến đầu
										trang</button>
									<button type="button" id="last-page-btn">Đến cuối
										trang</button>
								</div>
							</form>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>
</body>
</html>