<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Shop thời trang nam - Trang chủ</title>
<link rel="stylesheet"
	href="../static/dist/bootstrap-5.0.2-dist/css/bootstrap.min.css">
<script src="../static/dist/node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/66c7a31f42.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/header-customer.css">
<link rel="stylesheet" href="../static/css/footer-customer.css">
<link rel="stylesheet" href="../static/css/payment.css">
</head>
<body>
	<div class="wrapper">
		<nav class="container-cst">
			<div class="first-nav">
				<ul class="first-nav__left">
					<li class="first-nav__left__item"><a href="" class="active">TRANG
							CHỦ</a></li>
					<li class="first-nav__left__item category"><a href="">SẢN
							PHẨM</a>
						<ul class="category__detail">
							<li class="category__detail__item"><a href="">Áo</a></li>
							<li class="category__detail__item"><a href="">Quần</a></li>
							<li class="category__detail__item"><a href="">Phụ kiện</a></li>
						</ul></li>
					<li class="first-nav__left__item category"><a href="">SALE</a>
						<ul class="category__detail">
							<li class="category__detail__item"><a href="">Flash sale</a></li>
							<li class="category__detail__item"><a href="">Sale off</a></li>
							<li class="category__detail__item"><a href="">Sale đồng
									giá</a></li>
						</ul></li>
					<li class="first-nav__left__item"><a href="">GIỚI THIỆU</a></li>
				</ul>

				<div class="first-nav-right">
					<form action="" method="get">
						<input type="text" name="" id=""
							placeholder="Tìm sản phẩm theo tên hoặc mã sản phẩm...">
						<button type="submit">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
					<div class="login-btn">Đăng nhập</div>
				</div>
			</div>

			<div class="last-nav">
				<div class="logo">
					<img src="../static/logo/logo.jpg" alt="Logo" width="160">
				</div>

				<ul class="last-nav__right">
					<li class="last-nav__right__item"><a href=""> <img
							src="../static/img/icons/shirt.png" alt="Áo" width="32">
							<p class="last-nav__right__item__title">ÁO</p>
					</a></li>
					<li class="last-nav__right__item"><a href=""> <img
							src="../static/img/icons/jean.png" alt="Quần" width="32">
							<p class="last-nav__right__item__title">QUẦN</p>
					</a></li>
					<li class="last-nav__right__item"><a href=""> <img
							src="../static/img/icons/accessories.png" alt="Phụ kiện"
							width="32">
							<p class="last-nav__right__item__title">PHỤ KIỆN</p>
					</a></li>
					<li class="last-nav__right__item"><a href=""> <img
							src="../static/img/icons/sale.png" alt="Sale" width="32">
							<p class="last-nav__right__item__title">SALE</p>
					</a></li>
					<li class="last-nav__right__item"><a href=""> <img
							src="../static/img/icons/shopping-cart.png" alt="Giỏ hàng"
							width="32">
							<p class="last-nav__right__item__title">GIỎ</p>
					</a></li>
				</ul>
			</div>
		</nav>

		<div class="content container-cst">
			<h1>THANH TOÁN</h1>
			<div class="address-section">
				<div class="address-heading">
					<i class="fa-solid fa-location-dot"></i> Địa chỉ giao hàng
				</div>
				<div class="address-content">
					<div class="user-contact">
						<span class="full-name">Nguyễn Minh Đạt</span> <span
							class="telephone">(+84) 0378450500</span>
					</div>
					<div class="address-detail">
						<span class="address-string">18a Đường Số 18, Khu Phố 5,
							Phường Linh Trung, Thành Phố Thủ Đức, TP. Hồ Chí Minh</span> <span
							class="address-classification">Mặc Định</span>
					</div>
					<div id="change-address-btn">Thay đổi</div>
				</div>
			</div>
			<div class="cart">
				<table class="cart-table">
					<thead>
						<th style="text-align: left; padding-left: 40px;">Sản phẩm</th>
						<th>Đơn giá</th>
						<th>Số lượng</th>
						<th>Số tiền</th>
					</thead>
					<tbody>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
						<tr>
							<td class="product-detail"><img
								src="../static/img/products/img1.jfif" alt="Quần jean"
								width="80">
								<h3>Quần jean hollet</h3>
								<div class="classification">
									Phân loại <span>Đen, S</span>
								</div></td>
							<td class="price"><span class="old-price">500.000&#8363</span>
								<span class="new-price">300.000&#8363</span></td>
							<td>1</td>
							<td><div class="total-price">300.000&#8363</div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="shipping-carrier">
				<div class="shipping-carrier__header">
					<div class="shipping-carrier__heading">
						<i class="fa-solid fa-truck-fast"></i> Đơn vị vận chuyển
					</div>
					<div id="shipping-carrier__change-btn"
						class="shipping-carrier__change-btn">Thay đổi</div>
				</div>
				<div class="shipping-carrier__body">
					<div class="shipping-company">
						<img src="../static/img/ship-brand/vietnampost-logo.png"
							alt="company-brand" width="40" height="40"> <span
							class="shipping-company__name">VietNam Post</span>
					</div>
					<div class="estimated-time">Dự kiến nhận hàng vào 26/5 - 30/5</div>
					<div class="price__value">37.000&#8363</div>
				</div>
			</div>
			<div class="payment-method">
				<div class="payment-method__header">
					<div class="payment-method__heading">
						<i class="fa-solid fa-money-bill-wave"></i> Phương thức thanh toán
					</div>
					<div class="payment-choice">
						<div class="payment-choice__content">Thanh toán khi nhận
							hàng</div>
						<div class="pament-change-btn">Thay đổi</div>
					</div>
				</div>
				<div class="payment-info-container">
					<ul class="payment-info">
						<li class="payment-info__item"><span
							class="payment-info__item__title">Tổng tiền hàng</span> <span
							class="price-number">2.400.000&#8363</span></li>
						<li class="payment-info__item"><span
							class="payment-info__item__title">Phí vận chuyển</span> <span
							class="price-number">37.000&#8363</span></li>
						<li class="payment-info__item"><span
							class="payment-info__item__title">Tổng thanh toán</span> <span
							class="price-number">2.437.000&#8363</span></li>
					</ul>
				</div>
				<div class="order-manipulation">
					<div class="terms-service">
						Nhấn "Đặt hàng" đồng nghĩa với việc bạn đồng ý tuân theo các <a
							href="" target="_blank">Điều khoản của shop thời trang nam</a>
					</div>
					<button>Đặt hàng</button>
				</div>
			</div>
		</div>

		<div id="footer" class="container-cst">
			<div class="row">
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>THÀNH VIÊN PHÁT TRIỂN DỰ ÁN</h4>
					<ul class="footer-group__content">
						<li class="footer-group__item">Nguyễn Minh Đạt</li>
						<li class="footer-group__item">Đào Quốc Luận</li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>LIÊN HỆ</h4>
					<ul class="footer-group__content">
						<li class="footer-group__item">SĐT: <a href="tel:+0378450500">0378450500</a></li>
						<li class="footer-group__item">Email: <a
							href="mailto:minhdat450500@gmail.com">minhdat450500@gmail.com</a></li>
						<li class="footer-group__item">Facebook: <a
							href="https://www.facebook.com/profile.php?id=100081014870997"
							target="_blank">@fb/nguyenminhdat</a></li>
						<li class="footer-group__item">Địa chỉ: Phường Linh Trung,
							Tp. Thủ Đức, Tp. Hồ Chí Minh</li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>THANH TOÁN</h4>
					<ul class="footer-group__content pay">
						<li class="footer-group__item"><img
							src="../static/img/bank-brand/vietcombank.webp" alt="Vietcombank"
							width="22"></li>
						<li class="footer-group__item"><img
							src="../static/img/bank-brand/agribank.webp" alt="Agribank"
							width="22"></li>
						<li class="footer-group__item"><img
							src="../static/img/bank-brand/paypal.png" alt="Paypal" width="22"></li>
						<li class="footer-group__item"><img
							src="../static/img/bank-brand/momo.png" alt="Momo" width="22"></li>
					</ul>
				</div>
				<div class="col-6 col-sm-3 col-md-3 footer-group">
					<h4>ĐƠN VỊ VẬN CHUYỂN</h4>
					<ul class="footer-group__content transfer-unit">
						<li class="footer-group__item"><img
							src="../static/img/ship-brand/grabexpress.png" alt="Vietcombank"
							width="52" height="22"></li>
						<li class="footer-group__item"><img
							src="../static/img/ship-brand/vietnampost.png" alt="Vietcombank"
							width="52" height="22"></li>
						<li class="footer-group__item"><img
							src="../static/img/ship-brand/ghn.jfif" alt="Vietcombank"
							width="52" height="22"></li>
						<li class="footer-group__item"><img
							src="../static/img/ship-brand/be.png" alt="Vietcombank"
							width="52" height="22"></li>
						<li class="footer-group__item"><img
							src="../static/img/ship-brand/viettelpost.png" alt="Vietcombank"
							width="52" height="22"></li>
					</ul>
				</div>
			</div>
			<div class="copyright">&copy;Copyright 2023 08 Group</div>
		</div>

		<!-- Address box -->
		<div id="address-box" class="address-box__container">
			<div class="overlay">
				<div id="address-choice-box" class="address-box">
					<div class="address-box__first-layout">
						<div class="address-box__heading">Địa chỉ của tôi</div>
						<ul class="address-box__content">
							<li class="address-box__content__item"><label> <input
									checked name="address" type="radio" class="address-radio">
							</label>
								<div class="address-box__info">
									<div class="address-box__info__header">
										<div class="address-box__contact-info">
											<span class="contact-info__full-name">Nguyễn Minh Đạt</span>
											<span class="contact-info__telephone">(+84) 0378450500</span>
										</div>
										<div class="address-update-btn">Cập nhật</div>
									</div>
									<div class="address-box__info__body">
										<div class="address-box__address-content">
											<div class="address-detail">Cafe Thảo Nguyên, Đường Số
												18, Khu Phố 5</div>
											<div class="standard-address">Phường Linh Trung, Thành
												Phố Thủ Đức, TP. Hồ Chí Minh</div>
											<span class="address-type">Mặc định</span>
										</div>
									</div>
								</div></li>
							<li class="address-box__content__item"><label> <input
									name="address" type="radio" class="address-radio">
							</label>
								<div class="address-box__info">
									<div class="address-box__info__header">
										<div class="address-box__contact-info">
											<span class="contact-info__full-name">Nguyễn Minh Đạt</span>
											<span class="contact-info__telephone">(+84) 0378450500</span>
										</div>
										<div class="address-update-btn">Cập nhật</div>
									</div>
									<div class="address-box__info__body">
										<div class="address-box__address-content">
											<div class="address-detail">Cafe Thảo Nguyên, Đường Số
												18, Khu Phố 5</div>
											<div class="standard-address">Phường Linh Trung, Thành
												Phố Thủ Đức, TP. Hồ Chí Minh</div>
										</div>
									</div>
								</div></li>
							<li class="address-box__content__item"><label> <input
									name="address" type="radio" class="address-radio">
							</label>
								<div class="address-box__info">
									<div class="address-box__info__header">
										<div class="address-box__contact-info">
											<span class="contact-info__full-name">Nguyễn Minh Đạt</span>
											<span class="contact-info__telephone">(+84) 0378450500</span>
										</div>
										<div class="address-update-btn">Cập nhật</div>
									</div>
									<div class="address-box__info__body">
										<div class="address-box__address-content">
											<div class="address-detail">Cafe Thảo Nguyên, Đường Số
												18, Khu Phố 5</div>
											<div class="standard-address">Phường Linh Trung, Thành
												Phố Thủ Đức, TP. Hồ Chí Minh</div>
										</div>
									</div>
								</div></li>
							<li class="address-box__content__item"><label> <input
									name="address" type="radio" class="address-radio">
							</label>
								<div class="address-box__info">
									<div class="address-box__info__header">
										<div class="address-box__contact-info">
											<span class="contact-info__full-name">Nguyễn Minh Đạt</span>
											<span class="contact-info__telephone">(+84) 0378450500</span>
										</div>
										<div class="address-update-btn">Cập nhật</div>
									</div>
									<div class="address-box__info__body">
										<div class="address-box__address-content">
											<div class="address-detail">Cafe Thảo Nguyên, Đường Số
												18, Khu Phố 5</div>
											<div class="standard-address">Phường Linh Trung, Thành
												Phố Thủ Đức, TP. Hồ Chí Minh</div>
										</div>
									</div>
								</div></li>
							<li class="address-box__content__item"><label> <input
									name="address" type="radio" class="address-radio">
							</label>
								<div class="address-box__info">
									<div class="address-box__info__header">
										<div class="address-box__contact-info">
											<span class="contact-info__full-name">Nguyễn Minh Đạt</span>
											<span class="contact-info__telephone">(+84) 0378450500</span>
										</div>
										<div class="address-update-btn">Cập nhật</div>
									</div>
									<div class="address-box__info__body">
										<div class="address-box__address-content">
											<div class="address-detail">Cafe Thảo Nguyên, Đường Số
												18, Khu Phố 5</div>
											<div class="standard-address">Phường Linh Trung, Thành
												Phố Thủ Đức, TP. Hồ Chí Minh</div>
										</div>
									</div>
								</div></li>

							<li class="address-box__content__manipulation">
								<button id="add-adress-btn" class="add-address-btn">
									<i class="fa-solid fa-plus"></i> Thêm địa chỉ mới
								</button>
							</li>
						</ul>
					</div>
					<div class="address-box__last-layout">
						<button id="cancel-btn" class="cancel-btn">Hủy</button>
						<button class="apply-btn">Xác nhận</button>
					</div>
				</div>
				<div id="add-address-box" class="address-box">
					<div class="address-box__first-layout">
						<div class="address-box__heading">Địa chỉ mới</div>
						<form id="add-address-form" action="" method="post">
							<div class="contact-inputs">
								<label> <span>Họ và tên</span> <input name="full-name"
									type="text" class="form-control" placeholder="Họ và tên">
								</label> <label> <span>Số điện thoại</span> <input
									name="telephone" type="text" class="form-control"
									placeholder="Số điện thoại">
								</label>
							</div>
							<div class="address-input">
								<label> <span>Tỉnh/Thành phố, Quận/Huyện,
										Phường/Xã</span> <input name="address" type="text"
									class="form-control"
									placeholder="Tỉnh/Thành phố, Quận/Huyện, Phường/Xã">
								</label>
							</div>
							<label> <span>Địa chỉ cụ thể</span> <input
								name="home-address-input" type="text" class="form-control"
								placeholder="Địa chỉ cụ thể">
							</label>
							<div id="add-address__map"></div>
						</form>
					</div>
					<div class="address-box__last-layout">
						<button id="add-address__cancel-btn" class="cancel-btn">Quay
							lại</button>
						<button type="submit" form="add-address-form" class="apply-btn">Xác
							nhận</button>
					</div>
				</div>
				<div id="update-address-box" class="address-box">
					<div class="address-box__first-layout">
						<div class="address-box__heading">Cập nhật địa chỉ</div>
						<form id="update-address-form" action="" method="post">
							<div class="contact-inputs">
								<label> <span>Họ và tên</span> <input name="full-name"
									type="text" class="form-control" placeholder="Họ và tên">
								</label> <label> <span>Số điện thoại</span> <input
									name="telephone" type="text" class="form-control"
									placeholder="Số điện thoại">
								</label>
							</div>
							<div class="address-input">
								<label> <span>Tỉnh/Thành phố, Quận/Huyện,
										Phường/Xã</span> <input name="address" type="text"
									class="form-control"
									placeholder="Tỉnh/Thành phố, Quận/Huyện, Phường/Xã">
								</label>
							</div>
							<label> <span>Địa chỉ cụ thể</span> <input
								name="home-address-input" type="text" class="form-control"
								placeholder="Địa chỉ cụ thể">
							</label>
							<div id="update-address__map"></div>
						</form>
					</div>
					<div class="address-box__last-layout">
						<button id="update-address__cancel-btn" class="cancel-btn">Quay
							lại</button>
						<button type="submit" form="update-address-form" class="apply-btn">Xác
							nhận</button>
					</div>
				</div>
			</div>
		</div>

		<!-- shipping-carrier box -->
		<div id="shipping-carrier__container">
			<div class="overlay">
				<div id="shipping-carrier__box" class="shipping-carrier__box">
					<div class="shipping-carrier__box__content">
						<div class="shipping-carrier__heading">Chọn đơn vị vận
							chuyển</div>
						<div class="shipping-carrier__message-box">
							<div class="message-box__heading">KÊNH VẬN CHUYỂN LIÊN KẾT
								VỚI SHOP THỜI TRANG NAM</div>
							<div class="message-box__content">Bạn có thể theo dõi đơn
								hàng trên trang web này khi chọn một trong các đơn vị vận
								chuyển:</div>
						</div>
						<ul class="shipping-carrier-list">
							<li class="shipping-carrier-item shipping-carrier-active">
								<div class="shipping-carrier-item__content">
									<div class="shipping-carrier-item__heading">
										<div class="shipping-carrier-item__name">Vietnam Post</div>
										<div class="shipping-carrier-item__price">37.000&#8363</div>
									</div>
									<div class="shipping-carrier-item__estimated">Nhận hàng
										vào 3 Th05 - 8 Th05</div>
								</div>
								<div class="shipping-carrier-item__status">
									<i class="fa-solid fa-check"></i>
								</div>
							</li>
							<li class="shipping-carrier-item">
								<div class="shipping-carrier-item__content">
									<div class="shipping-carrier-item__heading">
										<div class="shipping-carrier-item__name">Vietnam Post</div>
										<div class="shipping-carrier-item__price">37.000&#8363</div>
									</div>
									<div class="shipping-carrier-item__estimated">Nhận hàng
										vào 3 Th05 - 8 Th05</div>
								</div>
								<div class="shipping-carrier-item__status">
									<i class="fa-solid fa-check"></i>
								</div>
							</li>
							<li class="shipping-carrier-item">
								<div class="shipping-carrier-item__content">
									<div class="shipping-carrier-item__heading">
										<div class="shipping-carrier-item__name">Vietnam Post</div>
										<div class="shipping-carrier-item__price">37.000&#8363</div>
									</div>
									<div class="shipping-carrier-item__estimated">Nhận hàng
										vào 3 Th05 - 8 Th05</div>
								</div>
								<div class="shipping-carrier-item__status">
									<i class="fa-solid fa-check"></i>
								</div>
							</li>
							<li class="shipping-carrier-item">
								<div class="shipping-carrier-item__content">
									<div class="shipping-carrier-item__heading">
										<div class="shipping-carrier-item__name">Vietnam Post</div>
										<div class="shipping-carrier-item__price">37.000&#8363</div>
									</div>
									<div class="shipping-carrier-item__estimated">Nhận hàng
										vào 3 Th05 - 8 Th05</div>
								</div>
								<div class="shipping-carrier-item__status">
									<i class="fa-solid fa-check"></i>
								</div>
							</li>
						</ul>
					</div>
					<div class="shipping-carrier__box__footer">
						<button id="shipping-carrier__cancel-btn" class="cancel-btn">Trở
							lại</button>
						<button class="apply-btn">Hoàn thành</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="module" src="../static/js/payment.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key="></script>
</body>
</html>