<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/dist/bootstrap-5.0.2-dist/css/bootstrap.min.css}">
	<script th:src="@{/dist/node_modules/jquery/dist/jquery.min.js}"></script>
	<script src="https://kit.fontawesome.com/66c7a31f42.js" crossorigin="anonymous"></script>
    <link th:rel="stylesheet" th:href="@{/css/reset-password-success.css}">
</head>
<body>
    <div class="wrapper">
        <div class="success-box">
            <div class="message">
                <i class="fa-solid fa-check"></i>
                <div>Đổi mật khẩu thành công</div>
            </div>
            <div class="orther">
                <a href="/">Tới trang đăng nhập</a>
            </div>
        </div>
    </div>
</body>
</html>